.NavBar {
  background-color: $color-primary;
  padding: 10px 0 0;
  box-shadow: 0 2px 2px $color-primary;
  #brand-logo {
    width: 100px;
  }
  .brand-name {
    font-size: 36px;
  }
  a {
    color: $font-color-light;
    text-decoration: none;
    margin: 0;
    padding: 30px 10px;
    cursor: pointer;
  }
  .pull-right {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 0;
    a {
      transition: 800ms;
      &:hover {
        background-color: rgba(234, 125, 34, 0.5);
      }
    }
  }
  ul {
    padding: 0;
  }
  .bottom-links {
    margin: 0;
    a {
      padding-bottom: 0;
    }
  }
  .active {
    color: orange;
  }
}
